/* css for our html body */
body {
    color: whitesmoke;
    background-color: rgb(21, 21, 41);
    font-family: 'Segoe UI';
    padding: 0;
    margin: 0;
}

/* css for our links/<a> elements */
a {
    text-decoration: none;
    color: white;
}

/* css for our navbar and navbar-item classes */
.navbar {
    background-color: rgb(14, 14, 69);
    padding: 30px;
}

.navbar-item {
    padding: 20px;
    background-color: rgb(34, 34, 91);
}